<!-- <header class="ll_header" [class.top-fixed]="topFixed" [ngClass]="{ 'bg-gray-50 shadow': topFixed && isScrolled }">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All Categories</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Cars</a></li>
                        <li><a href="#">Clothes</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Furniture</a></li>

                    </ul>
                </div>
            </div> -->
            <!-- <div id="mobile-menu-wrap"></div> -->
        <!-- </div>
    </div> -->
<!-- </header> -->
<header class="ll_header" [class.top-fixed]="topFixed" [ngClass]="{ 'bg-gray-50 shadow': topFixed && isScrolled }">
    <div class="container">
        <div class="flex items-center">
            <div class="flex items-center">
                <a class="logo" [routerLink]="['']"><img src="assets/images/logo.png" alt="Logo" /></a>
                <ul class="flex item-center ml-5" *ngIf="!isLessThenLargeDevice && menuList && menuList.length">
                    <li *ngFor="let menu of menuList">
                        <a mat-button [routerLink]="[menu.path]" routerLinkActive="bg-gray-100"
                            class="text-lg font-bold py-2 px-5">{{ menu.name }}</a>
                    </li>
                </ul>
            </div>
            <button *ngIf="isLessThenLargeDevice" (click)="toggleSidenav.emit()"
                class="_sidenav__toggler ml-auto md:ml-1 ms-sm-3" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
                <div class="advanced-search">
                    <div class="input-group text-dark">
                        <form (ngSubmit)="addsearchproducts(f)" #f="ngForm">
                            <input type="text" placeholder="Search product..." name="name" style="color: black;" ngModel #name required />
                            <button type="submit" style="margin-left:-25px;"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div  class="hidden items-center md:flex ml-auto">
                
               
                    <a *ngIf="!loggedin()" [routerLink]="['/auth/signup']" mat-raised-button color="accent"
               class="text-lg font-bold mx-3" [hidden]="!f.loggedin" >Register</a>
               

               
                   <a *ngIf="!loggedin()" [routerLink]="['/auth/login']" mat-raised-button color="warn"
               class="text-lg font-bold "[hidden]="!f.loggedin" >Login</a>
               
              
                <a *ngIf="loggedin()" (click)="onlogout()" [routerLink]="['/auth/logout']" mat-raised-button color="warn"
                class="text-lg font-bold " []="!f.loggedin" >Logout</a>
             
              
           </div>
        </div>
    </div>
</header>