<div *ngFor="let userprofile of userprofiles" class="container-fluid">
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/images/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10 ml-20">
        <h2 class="display-2 text-dark mt-20">Hello {{userprofile.user}}</h2>
        <div class="col-xl-15 order-xl-7 mb-5 mb-xl-0">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="{{userprofile.profile_pic}}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
        </div>
        
        <p class="mt-0 mb-5">Welcome to Oneclickstore. We are here for you, to meet your needs. We value you.Please update your profile below</p>
        <a href="#!" class="btn btn-danger">Edit profile</a>
      </div>
    </div>
  </div>
    <div class="mb-0">
      Location: &nbsp;&nbsp;&nbsp; {{userprofile.location}}
    </div>
    <div>
      Date Joined: &nbsp;&nbsp;&nbsp; {{userprofile.date_joined}}
    </div> 
  </div>
</div>