<div class="container">
    <div class="grid grid-cols-12 gap-6 xxl:gap-8">
        <div *ngFor="let product of products" class="col-span-12 md:col-span-6 xl:col-span-4">
            <div class="flex mt-3">
                <div class="ll-product__price-label"></div>
                <div class="ll-product__price text-dark mb-4">{{ product?.category_name }}</div>
            </div>
            <mat-card class="ll-product">
                <img mat-card-image [src]="product?.image" alt="{{ product.name }}"
                    style="width: 100%; margin: 0 0 20px" />
                <mat-card-content class="flex">
                    <div class="flex-grow pl-3">
                        <div class="flex-grow pl-3">
                            <h2 class="ll-product__name text-accent font-bold">
                                <a [routerLink]="['/products', product.id]">{{ product?.name }}</a>
                            </h2>
                            <div class="flex justify-between mt-3">
                                <div class="ll-product__price text-dark">{{ product?.description }}</div>
                            </div>
                            <div class="flex justify-between mt-3">
                                <div class="ll-product__price-label">Prices:</div>
                                <div class="ll-product__price text-accent">kes{{ product?.price }}</div>
                            </div>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions class="ll-product__action flex justify-between">
                    <div class="flex-1 text-center flex items-center justify-center">
                        <mat-icon color="warn">star</mat-icon> {{ product.rating }}
                    </div>
                    <div class="flex-1 text-center">
                        <a [routerLink]="['/products', product.id]" mat-raised-button color="warn" class="px-4">Add to
                            Cart</a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>